.form-control-lecture{
  height: 3em;
  width: 90%;
  margin: 1em;
}

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

svg {
  height: 150px;
}

.map {
  height: 180px;
  width: 250px;
}