.list-group-item {
  position: relative;
  width: 100%;

  margin: auto;
}

.lectureList__list > ul > li {
  outline: none;
  &:hover {
    background-color: $dark-brown;
    color: $white;
    cursor: pointer;
  }
  &:active {
    background-color: $dark-brown;
    color: $white;
  }
  &:focus {
    background-color: $dark-brown;
    color: $white;
  }
}
