.SignupForm__input {
  margin-bottom: 16px;
  input {
    padding-left: 48px;
    background: 16px center / 24px no-repeat url('/images/icon-lock.png');
  }
}

.SignupForm__inputEmail {
  margin-bottom: 16px;
  input {
    padding-left: 48px;
    background: 16px center / 24px no-repeat url('/images/icon-lock.png');
  }
}

.SignupForm__UserInput {
  margin-bottom: 16px;
  input {
    padding-left: 48px;
    background: 16px center / 24px no-repeat url('/images/icon-lock.png');
  }
}

.SignupForm__SendCode {
  margin-bottom: 20px;

}

.SignupForm__CheckCode {
  margin-bottom: 20px;


}

.SignupForm__Final {
  margin-bottom: 20px;

  @include breakpoint("max-card") {
    margin-bottom: 20px;
  }
}

